@use '@/styles/variables.scss' as *;

.inputWrapper {
  position: relative;
  display: flex;

  .label {
    position: absolute;
    overflow: hidden;
  }

  .input {
    width: 100%;
    padding: 18px 20px;
    background-color: $controls-bg-quaternary;
    border: 1px solid $controls-bg-quaternary;
    border-radius: 5px;
    font-size: 18px;

    &:focus {
      border-color: $controls-bg-secondary;
      outline: none;
    }

    &::placeholder {
      color: $text-color-tertiary;
    }

    &.error {
      border-color: $controls-color-error;
    }
  }

  .errorText {
    display: none;
    position: absolute;
    left: 20px;
    top: 3px;
    font-size: 12px;
    color: $controls-color-error;
  }
}