@use '@/styles/variables.scss' as *;

.aboutPage {
  padding: 100px 0;

  .title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }

  .description {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .aboutPage {
    padding: 30px 0;

    .title {
      font-size: 30px;
    }

    .description {
      margin-top: 20px;
    }
  }
}
