@use '@/styles/variables.scss' as *;

.benefitItem {
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .description {
    font-size: 18px;
    font-weight: 400;
    color: $text-color-tertiary;
  }
}

@media (max-width: 768px) {
  .benefitItem {
    flex-basis: 300px;
    text-align: center;
    gap: 10px;

    .title {
      font-size: 20px;
    }

    .description {
      font-size: 16px;
    }
  }
}
