@use '@/styles/variables.scss' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content {
    position: relative;
    background-color: $bg-color-primary;
    border-radius: 20px;
    padding: 40px;
    max-width: 95%;
    max-height: 95%;
  }

  .closeBtn {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
    color: $text-color-tertiary;
    cursor: pointer;

    svg {
      path {
        fill: $controls-bg-secondary;
      }
    }
  }
}

@media (max-width: 768px) {
  .modal {
    .content {
      border-radius: 0;
      padding: 30px;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      overflow-y: auto;
    }

    .closeBtn {
      position: fixed;
      top: 10px;
      right: 10px;
    }
  }
}
