@use '@/styles/variables.scss' as *;

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $controls-color-secondary;
  border-radius: 10px;
  padding: 10px;
}

@media (hover: hover) {
  .iconButton:hover {
    background-color: $controls-bg-secondary-hover;
  }
}
