@use '@/styles/variables.scss' as *;

.iconButton {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $controls-color-secondary;
  border-radius: 10px;

  &:hover {
    background-color: $controls-bg-secondary-hover;
  }
}
