@use '@/styles/variables.scss' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;

  .navLink {
    text-decoration: none;
    color: $text-color-secondary;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}
