@use '@/styles/variables.scss' as *;

.teacherInfo {
  .teacherTopContent {
    display: flex;
    gap: 40px;

    .img {
      width: 160px;
      max-height: 222px;
      border-radius: 20px;
      object-fit: cover;
    }

    .teacherTop {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .name {
        font-size: 24px;
        font-weight: 600;
        color: $text-color-primary;
      }

      .description {
        font-size: 18px;
        color: $text-color-tertiary;
      }

      .links {
        display: flex;
        gap: 10px;
        transition: opacity 0.3s ease;

        .link {
          width: 30px;
          height: 30px;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .teacherTabContent {
    position: relative;
    margin-top: 20px;
    height: 346px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $controls-bg-secondary $controls-bg-tertiary;
    padding-bottom: 30px;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $controls-bg-secondary;
      border-radius: 40px;
    }

    .teacherTabEnd {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 8px;
      height: 32px;
      background: linear-gradient(0deg, #ffffff 0%, #ffffff00 100%);
      pointer-events: none;
    }
  }
}

@media (max-width: 768px) {
  .teacherInfo {
    .teacherTopContent {
      gap: 10px;

      .img {
        width: 60px;
        max-height: 88px;
        border-radius: 5px;
      }

      .teacherTop {
        gap: 7px;

        .name {
          font-size: 16px;
        }

        .description {
          font-size: 12px;
          line-height: 1.4;
        }

        .links {
          gap: 5px;
        }
      }
    }

    .teacherTabContent {
      height: 100%;
      margin-top: 20px;
      padding-bottom: 20px;
      padding-right: 0;
      overflow-y: unset;

      .tabEnd {
        position: fixed;
        height: 22px;
      }
    }
  }
}
