@use '@/styles/variables.scss' as *;

.teacherModalContent {
  width: 860px;
  height: 688px;
  max-width: 100%;
  max-height: 100%;

  .loading {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    color: $text-color-primary;
  }

  .error {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    color: $controls-color-error;
  }
}
