@use '@/styles/variables.scss' as *;

.teachersSlider {
  margin-top: 60px;
  width: 100%;

  .slide {
    width: max-content;
  }
}

.sliderControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;

  .scrollbar {
    position: relative;
    max-width: 360px;
    width: 100%;
    height: 5px;
    background-color: $controls-bg-tertiary;
    border-radius: 40px;

    :global(.swiper-scrollbar-drag) {
      height: 100%;
      background-color: $controls-bg-secondary;
      border-radius: 40px;
      transition: transform 0.3s ease;
      cursor: grab;

      &:hover {
        transform: scaleX(1.1);
      }
    }
  }
  .buttons {
    display: flex;
    gap: 10px;
  }

  .button {
    width: 40px;
    height: 40px;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 768px) {
  .teachersSlider {
    margin-top: 40px;
    padding: 0 10px;
    margin-left: -10px;
    width: calc(100% + 20px);
  }

  .sliderControls {
    justify-content: center;

    .scrollbar {
      width: 100%;
    }
  }
}
