@use '@/styles/variables.scss' as *;

.teacherCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  flex-basis: 360px;
  width: 100%;

  .image {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
  }

  .description {
    font-size: 18px;
    color: $text-color-tertiary;
    margin-top: 10px;
  }

  .button {
    font-size: 18px;
    color: $controls-color-error;
    margin-top: 20px;

    &:hover {
      color: $controls-bg-primary-hover;
    }
  }
}

@media (max-width: 768px) {
  .teacherCard {
    flex-basis: 220px;

    .image {
      max-height: 306px;
    }

    .name {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
    }

    .button {
      font-size: 16px;
    }
  }
}
